#ifndef _RSCOMMDLL_CONFIG_H_
#define _RSCOMMDLL_CONFIG_H_

#ifdef _WIN32	//windows平台
  #ifdef _WIN64
    #ifdef NDEBUG
      #pragma comment(lib,".\\libs\\RsCommDll\\x64r\\RsCommDll.lib")
    #else
      #pragma comment(lib,".\\libs\\RsCommDll\\x64d\\RsCommDll.lib")
    #endif
  #else			//32位程序
    #ifdef NDEBUG
      #pragma comment(lib,".\\libs\\RsCommDll\\x32r\\RsCommDll.lib")
    #else
      #pragma comment(lib,".\\libs\\RsCommDll\\x32d\\RsCommDll.lib")
    #endif
  #endif
#endif

#endif
