#ifndef _PRO_TEC_LED_CONFIG_H_
#define _PRO_TEC_LED_CONFIG_H_

#ifdef _WIN32	//windows
#ifdef _WIN64
#ifdef NDEBUG
#pragma comment(lib,"libs\\ProTecLed\\x64r\\ProTecLed.lib")
#else
#pragma comment(lib,"libs\\ProTecLed\\x64d\\ProTecLed.lib")
#endif
#else			//x32
#ifdef NDEBUG
#pragma comment(lib,"libs\\ProTecLed\\x32r\\ProTecLed.lib")
#else
#pragma comment(lib,"libs\\ProTecLed\\x32d\\ProTecLed.lib")
#endif
#endif
#endif

#endif