#ifndef _ZSFDB_CONFIG_H_
#define _ZSFDB_CONFIG_H_

#ifdef _WIN32	//windows平台
  #ifdef _WIN64
    #ifdef NDEBUG
      #pragma comment(lib,".\\libs\\ZsFdb\\x64r\\ZsFdb.lib")
    #else
      #pragma comment(lib,".\\libs\\ZsFdb\\x64d\\ZsFdb.lib")
    #endif
  #else			//32位程序
    #ifdef NDEBUG
      #pragma comment(lib,".\\libs\\ZsFdb\\x32r\\ZsFdb.lib")
    #else
      #pragma comment(lib,".\\libs\\ZsFdb\\x32d\\ZsFdb.lib")
    #endif
  #endif
#endif

#endif
